body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: #352961 !important;
  height: 7vh;
}

/* navbar */
li a:hover {
  border-bottom: 1px solid white;
}

/*Govt. of Sikkim logo*/
.logo {
  height: 25px;
  width: 25px;
  float: left;
  padding-right: 5px;
}


.login-jumbotron {
  height: 93vh !important;
  width: 100% !important;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=841&q=80');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden !important;
  margin-bottom: 0 !important;

}

.login-jumbotron .login-form {
  background-color: white;
  padding: 30px;
  width: 40%;
  margin: 10% auto;
}

.login-jumbotron .login-form .text .login-text,
.login-jumbotron .login-form .login-validation {
  color: #352961;
}

.login-jumbotron .login-form #username,
.login-jumbotron .login-form #password {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}

.login-jumbotron .login-form .login-btn {
  width: 100% !important;
  background-color: #352961 !important;
  color: white;
  font-weight: 600;
  text-align: center;
}