html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.table {
    color: gray;
}

.navbar {
    width: 100%;
}

.thead,
.tbody {
    border-bottom: 1px solid lightgray !important;
}

input:focus {
    border: 3px solid #555;
    box-shadow: grey;
}

.logo {
    height: 25px;
    width: 25px;
    float: left;
    padding-right: 5px;
}

.user-card {
    height: 80vh;
}

input {
    border: 1px solid lightgray;
}

.table-msg h3 {
    font-size: 30px;
    color: #352961;
}